<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    
     <add name="ConnectionString" connectionString="Persist Security Info=False;Initial Catalog=Dev_Test;Data Source=EDIMS-DEVDB1-VM\SQL2008R2;Packet Size=4096;Enlist=false;User Id=EDIMAppAcct;Password=X13b18P!Rh;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>